.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  width: 100%;
  color: #ff66c4;
}

.chat__details {
  margin-right: auto;
  margin-left: 20px;
  text-align: start;
}

.chat__details > p {
  color: lightgray;
  font-size: 1rem;
}

.chat__timestamp {
  color: lightgray;
}
